*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}

//variables

$bg-color:#e0e5e4;

html{
     font-size:62.5%;
}
.main_header{
    width:100vw;
    height:100vh;
    display:flex;
    justify-items:center;
    flex-direction:column;
    place-items:center;
    background:$bg-color;  //variable used here 
}

h1{
    color:red;
    font-size:2rem+2rem;
}

p{
    color:red;
    font-size:2rem+2rem;
}