*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    width:100vw;
    height:100vh;
    background:#a69d9d;
}


.headerlogo{
    width:60%;
    height: 100%;
}

.headerlogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-left:-400px;
    border:none;
}
.header{
    width:100%;
    height:100px;
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.headerright{
     display: flex;
     gap:40px;
     margin-left:100px;
     font-size:15px
    
}

a{
     text-decoration:none;
}

.herosection{
    width:100%;
    height:200px;
    border-bottom:#f10606;
}

.ourofferings{
    display: flex;
    justify-content: center;
    font-size:40px;
    margin-bottom:10px;
}

#offeringsection{
    width:100%;
    height:300px;
    border:none ;
    display: flex;
    flex-direction: row;
}
.img{
    width:100%;
    height: 100%;
}
.img:hover{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
     /* transform: translateX(20px); */
}

.box{
    width:25%;
    height: 100%;
    border:#c95d5d
}


.one{
    background: aqua;

}
.two{
    background-color: #c95d5d;
}
.three{
    background: #3735b4;
}
.four{
    background:#29ca2f
}

.footer{
    margin-top:20px;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction:row;
    gap:50%;
    background-color: #9fc4a1;
    padding:30px

    
}

.footerlink{
    list-style: none;
    line-height:30px;

}

.footerrightbox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.footerrightbox ,input[type="text"]{
      width: 500px;
      height:50px;
      border:1px solid #06ea0ef1;
      
}

.footerrightbox,input[type="submit"]{
    width:150px;
    height:50px;
    margin-left:100px;
}