#container{
    width:500px;
    margin:0 auto;
}

form{
    background-image:url('');
    padding:20px;
    font-family:Helvetica,Arial,sans-serif;
}

form fieldset{
    background-image:url('');
    padding:40px;
    border:solid 1px red;
}

form legend{
    border:solid 1px #333;
    background-image:url('');
    padding:5px;
    font-size:30px;
    font-weight:bold;
}

form input, form textarea{
    display: block;
    margin-bottom:20px;
    -webkit-font-smoothng:antialiased;
    text-rendering:optimizeLegibility;
} 

form label{
    font-size:11px;
    text-transform:uppercase;
}

form input[type="text"],from input[type="email"],form textarea{
    padding:10px;
    font-size:20px;
    font-family:Helvetica,Arial,sans-serif;
    color:white;
    border:solid 1px #b90707;
    background-image:url('');
}

form textarea{
    width:300px;
    height: 100px;
}

form input[type="submit"] {
   border:none;
   /* background:url(''); */
   height:40px;
   padding:0 20px;
   border:solid 1px #d4730c;
   color:white;
   font-weight:bold;
   font-family:Helvetica,Arial,sans-serif;
}