/* ===============================
   Author: Brad Hussey
   Date:   September 22, 2013
   
   Notes:
   Hand coded for Build a Website
   from Scratch with HTML & CSS
   
   Colour Palette:
   ---------------
   Light Cream:		#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

/* body {
	background: #f2f3ee url('images/bg-tile.gif') top left repeat;
	color: #4b2707;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 14px;
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
} */

.container{
	width:924px;
	margin:0 auto;
	padding:30px 24px;

}

h1,h2{
	color:#d17f38;
	font-size:40px;
	font-weight:normal;
	font-family:'Love Ya Like A Sister',cursive;
	line-height:44px;
	margin:0;

}

h1{
	text-align:center;
	padding:0 0 20px;
	background:url('../Donut_Whole/images/header-divider.png') bottom center no-repeat;
}

h1 em{
	font-style:normal;
	color:#4b2707;
}

h2{
	font-size:34px;

}
h3{
	margin:0;

}

p.lead{
	font-size:30px;
	font-weight:300;
	text-align:center;
	padding:10px 0;

}

p{
	margin:0;
}

a:link{
	color:#d17f38;
}

a:visited{
	color:#d17f38
}
a:hover{
	color:#4b2707;
}

hr{
	border:none;
	height:33px;
	width:333px;
	margin:30px auto;
	background:url('../Donut_Whole/images/divider.png') center center no-repeat;
}


/* header */

header nav{
	text-align:center;
}

header nav ul{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	line-height:141px;

}

header nav ul li{
	display:inline-block;
	padding: 0 20px;
}
header nav ul li a{
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}

header nav ul li a:hover{
	color:#4b2707;
	padding-top:20px;
	background:url('../Donut_Whole/images/tiny-donut.png') top center no-repeat;
}

header nav ul li#logo a{
   display: block;
   width:292px;
   height:141px;
   background:url('../Donut_Whole/images/logo.png') center center no-repeat;
   text-indent:-9999px;
}

header nav ul li#logo a:hover{
	padding:0;
	background:url('../Donut_Whole/images/logo-hover.png') center center no-repeat;
}

/* hero */

#hero{
	background:#e8c04f url('../Donut_Whole/images/bg-tile-yellow.gif') top left repeat;
}

#hero .container{
	position:relative;

}

#hero .large-ribbon{
	height:190px;
	width:150px;
	background:url('../Donut_Whole/images/fresh-whole-ingredients.png') top left no-repeat;
	text-indent:-9999px;
	position:absolute;
	top:-23px;
	right:-30px;
}

#story-excerpt{
width:530px;
margin-right:24px;
float:left;
font-size:16px
}

#best-donut{
	background: url('../Donut_Whole/images/award.png') left center no-repeat;
	padding:30px 0 30px 130px;
	float:left;
	width:230px
}

.clearfix:after{
	visibility:hidden;
	display:block;
	content:"";
    clear:both;
	height:0;
}