*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    width:100vw;
    height:100vh;

}

.container{
   margin:0 auto;
   padding:10px;
   background-color: #eee;
}

/* ----------------sidebar menuuu------------ */

.header{
    width: 100%;
    height:80px;
    background-color: #ece8e8;
    display:flex;
    flex-direction: row;
}

.blogpagetitle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.headerleft{
    width: 85%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    margin-right: 100px;
    /* background-color: aqua; */
}

.headermenu{
    display:flex;
    gap: 28px;
    font-size: medium;
    font-family:sans-serif;
   
}
.headermenu a:link{
    text-decoration:none;
     color:rgb(26, 23, 17)
}

.profile{
    display: flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-size:20px;
}


.herosection{
    width:100%;
    margin:auto;
    padding:60px;
    height: 600px;
    background:#5c5050;
    display: grid;
    grid-template-columns:repeat(4 ,1fr);
    grid-template-rows: repeat(2 1fr);
    gap:10px;
    cursor: pointer;
    

}

 .images{
    
 }
   
 

.images:hover{
     filter: brightness(60%);
    /* height: auto; */
    transform: scale(1.01);
    /* background:#b03434 */
    transition: ease-out;

}

.image1{

    /* width:100%;
    height: 100%; */
   position:relative;
    grid-row-start:1;
    grid-row-end:3;

    grid-column-start:1;
    grid-column-end:3;
}

.image2,.image3,.image4,.image4,.image5{
     position:relative;
}



.box{
    width: 100%;
    height: 100%;
     content: "";
     z-index:-1;
}

 .post-title{
    position:absolute;
    bottom:110px;
    left:20px;
}
.post-exceprt{
   position: absolute;
   bottom:90px;
   left: 20px;
}
.meta1{
    position: absolute;
    bottom: 30px;
    left:20px;
    
    

}
.sharing{
    position:absolute;
    right: 20px;
    top:20px;
}
.meta2{
    position: absolute;
    right:20px;
    bottom: 30px;
}


.label{
    position:absolute;
    padding: 1rem ;
    color:white;
    margin:10px;
    /* width: 20px;
    height: 20px; */
    border-radius: 20px;
    background:rgb(66, 66, 231);
}

/* hero ends here */
  

/* main starts here */
.main{
    width: 100%;
    margin: 60px;
    height: 300px;
}

.quick-link h3{
    font-size:30px;
}

.quick-link-cards{
    display:flex;
    flex-direction:row;
    gap: 100px;
    
}

.blog-article{
    width: 300;
    height: 200px;
    border:1px solid black;
    margin-top:50px;
    background-color: #eee;

}




/* footer starts from here  */

.footer {
    background: #eee;
    width: 100%;
    min-height: 300px; /* Changed to min-height for better responsiveness */
    padding: 40px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Spreads the three divs apart */
    align-items: flex-start;
    box-sizing: border-box; /* Ensures padding doesn't add to width */
}

/* Fixed typo: changed .newletter to .newsletter */
.newsletter {
    width: 40%;
}

.footerheading {
    font-size: 30px;
    margin-bottom: 10px;
}

.footerpara {
    font-family: cursive;
    margin-bottom: 20px;
}

/* Combined styling for text inputs and the sign-in button/input */
.footer input[type="text"], 
.footer input[type="email"],
.singin input {
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    width: 100%;
    max-width: 300px;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin-bottom: 10px;
    display: block; /* Puts them on separate lines */
}

.singin input{
    margin-top:80px;
}

.footer input[type="submit"] {
    width: 100%;
    max-width: 320px;
    padding: 15px;
    border: none; 
    border-radius: 5px;
    background-color: rgb(83, 58, 223);
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.footerright {
    width: 300px;
    display: flex;
    text-align: center;
    position: relative;
}
.adbtn{
    position: absolute;
    top: 8px;
    left:8px;
    background-color: rgb(38, 38, 218);
    color:white;
    width:35px;
    border-radius:3px;
}
.adbtn ,a:link{
    text-decoration: none;
     color:white;  
}

.footerimage img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
    
    
}

.footerimage:hover{
     filter: brightness(60%);
    transform: scale(1.01);
    transition: ease-out;
}



/* quick linkss */

/* .quick-link-cards{
    border:none;
} */


.blog-article{
    border:none;
}
.blogarticledata{
    margin:20px;
    
}

.blogarticleheading{
    margin: 10px 0 10px;
    
}

.btnvisitblog{
    width: 70%;
    height: 40px;
    margin-top: 70px;
    background:rgb(57, 57, 227);
    color:#eee;
    border:none;
    border-radius: 3px;
}