*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    width:100%;
    height: 100%;
    

}

.main{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:50px;
     /* position:relative; */
     border:2px solid red;
     margin: auto;
     margin-top: 100px;
}
.images{
    
    display:flex;
    width: 800px;
    height: 500px;
    position:relative;
    overflow: hidden;
   
   
   
}
.image{ 
    width: 100%;
    height: 100%;
    border:2px solid green;
    position: absolute;
    transition:  1s ease;
    
    
}

.btn{
    width: 100px;
    height: 400px;
}