
        body {
            background-color: white;
            margin: 0;
            padding: 20px;
        }

        #container {
            width: 650px; 
            margin: 0 auto;
        }

        form {
            background: #fff;
            padding: 15px;
            font-family: Helvetica, Arial, sans-serif;
        }

        form fieldset {
            background: #eee;
            padding: 20px;
            border: 2px solid rgb(230, 17, 17);
            border-radius: 6px;
        }

        form legend {
            border: 1px solid #333;
            background-color: #eee;
            padding: 5px 15px;
            font-size: 30px;
            font-weight: bold;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            vertical-align: middle;
        }
        form label {
            font-weight: 600;
            font-size: 15px;
            text-transform: uppercase;
            display: block;
        }



        form input[type="text"],form input[type="password"],form textarea, form select {
            width: 100%;
            padding: 10px;
            font-size: 20px;
            font-family: Helvetica, Arial, sans-serif;
            color: black;
            border: 1px solid #b90707;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        form textarea {
            height: 100px;
        }

      .option-group {
         display: flex;
         gap: 15px;
        align-items: center
      }

        form input[type="checkbox"], form input[type="radio"] { 
            margin-right: 5px;
            cursor: pointer;
        }

        
        .button-row {
            text-align: center;
            padding-top: 20px;
        }

        .btn {
            border: 1px solid #d4730c;
            height: 40px;
            padding: 0 20px;
            color: black;
            font-weight: bold;
            font-family: Helvetica, Arial, sans-serif;
            cursor: pointer;
            background: #fff;
            margin: 0 5px;
            text-transform: capitalize;
        }

        .btn:hover {
            background: #fff7ed;
        }

        .btn-reset {
            border-color: #999;
        }
