*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
   width:100vw;
   height:100vh;

}

#container{

    width:100%;
    height:100%;
    background-color: rgb(117, 102, 102);
    border:3px solid red;
    display: grid;
    padding:4rem;
    gap:1rem;
    /* place-self: center; */
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    
    
}

.box{
    
    background:rgb(231, 72, 231);
    border:2px solid black;
    color:white;
    font-size:3rem;
    display:flex;
    justify-content:center;
    align-items: center;

}
 
#one{
    grid-column-start:1;
    grid-column-end:4;
} 
.sidebar{
    grid-row-start:2;
    grid-row-end:4;
}

.third{
    grid-column-start:2;
    grid-column-end:4;
}

.footer{
    grid-column-start:1;
    grid-column-end:4;
}
